<a href="https://colab.research.google.com/github/Tejesh-45/data-mining/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

df = pd.read_csv('/content/employee_data (1).csv')
print("Original Dataset:")
print(df)

df.isna()

df.isnull().sum()

df['Age'].mean()

df['Salary'].mean()

df['Job_Satisfaction'].mean()

df['Job_Satisfaction'].mode()

df['Job_Satisfaction'].median()

df['Age'].fillna(df['Age'].mean())

df['Age'] = df['Age'].fillna(df['Age'].mean())

df['Salary'] =df['Salary'].fillna(df['Salary'].mean())

df['Job_Satisfaction'] = df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean())

df

print("Dataset after handling missing values:")
print(df)

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df[[' Work_Hours_Per_Week', 'Job_Satisfaction']] = scaler.fit_transform(df[['Work_Hours_Per_Week', 'Job_Satisfaction']])

df['Age'] = (df['Age'] - df['Age'].min()) / df['Age'].max() - df['Age'].min()

from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

df[['Salary']] = s_scaler.fit_transform(df[[ 'Salary']])

df['Salary']

df['Job_Satisfaction'] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].mean()) / df['Job_Satisfaction'].std()

df['Job_Satisfaction']

Original Dataset:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57
Dataset after handling missing values:
    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0              9.00                   36
1          1002  36.000000   82995.0              8.00                   59
2          1003  29.000000   70757.0              2.00                   30
3          1004  42.000000   39692.0              1.00                   30
4          1005  40.000000   75758.0              7.00                   54
5          1006  44.000000  102409.0              7.00                   56
6          1007  32.000000   72349.2              5.55                   59
7          1008  32.000000   95697.0              5.00                   54
8          1009  45.000000   67065.0              3.00                   49
9          1010  57.000000   72349.2              8.00                   42
10         1011  45.000000   41534.0              6.00                   38
11         1012  39.177778   70397.0              5.55                   32
12         1013  43.000000   31016.0              5.55                   36
13         1014  23.000000  119789.0              1.00                   35
14         1015  45.000000   85591.0              3.00                   37
15         1016  51.000000  119812.0              5.00                   56
16         1017  59.000000   53247.0              3.00                   38
17         1018  23.000000   54300.0              1.00                   59
18         1019  42.000000  104065.0              5.00                   34
19         1020  54.000000  112798.0             10.00                   30
20         1021  33.000000   39268.0              7.00                   48
21         1022  43.000000  116807.0              7.00                   39
22         1023  46.000000   42185.0              5.55                   41
23         1024  48.000000   93704.0              9.00                   53
24         1025  49.000000   72349.2             10.00                   44
25         1026  37.000000   69099.0              5.55                   56
26         1027  36.000000   72349.2              3.00                   51
27         1028  24.000000   68044.0              7.00                   53
28         1029  58.000000   81214.0              1.00                   38
29         1030  28.000000   91228.0              4.00                   49
30         1031  39.177778   78984.0              4.00                   46
31         1032  30.000000   70774.0              5.55                   59
32         1033  39.000000   32568.0              7.00                   46
33         1034  25.000000   92592.0              7.00                   55
34         1035  39.177778   97563.0              5.55                   49
35         1036  35.000000   32695.0              4.00                   41
36         1037  30.000000   78190.0              7.00                   59
37         1038  47.000000   35258.0              5.55                   36
38         1039  23.000000   72349.2              3.00                   31
39         1040  39.177778   69504.0              6.00                   32
40         1041  49.000000   63159.0              2.00                   46
41         1042  28.000000   43986.0             10.00                   34
42         1043  29.000000   91858.0              9.00                   46
43         1044  56.000000   42666.0              5.00                   53
44         1045  35.000000   68660.0              6.00                   46
45         1046  38.000000   33561.0              4.00                   56
46         1047  57.000000   56854.0              5.55                   46
47         1048  25.000000   94505.0              5.55                   31
48         1049  23.000000   82251.0              7.00                   31
49         1050  39.177778   52662.0              9.00                   57

0     1.418381
1     1.007256
2    -1.459494
3    -1.870619
4     0.596131
5     0.596131
6     0.000000
7    -0.226119
8    -1.048369
9     1.007256
10    0.185006
11    0.000000
12    0.000000
13   -1.870619
14   -1.048369
15   -0.226119
16   -1.048369
17   -1.870619
18   -0.226119
19    1.829506
20    0.596131
21    0.596131
22    0.000000
23    1.418381
24    1.829506
25    0.000000
26   -1.048369
27    0.596131
28   -1.870619
29   -0.637244
30   -0.637244
31    0.000000
32    0.596131
33    0.596131
34    0.000000
35   -0.637244
36    0.596131
37    0.000000
38   -1.048369
39    0.185006
40   -1.459494
41    1.829506
42    1.418381
43   -0.226119
44    0.185006
45   -0.637244
46    0.000000
47    0.000000
48    0.596131
49    1.418381
Name: Job_Satisfaction, dtype: float64